<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Twitter Stream Analysis</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  {% comment %} django need this for security reason {% endcomment %}

  {% csrf_token %}
</head>

<body>
  <div class="container">
    <!-- Navbar adapted from https://getbootstrap.com/docs/4.3/components/navbar/ -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Media Analyzer</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Start Stream </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Start Sentiment </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Start Language Detection </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="www.amazon.com" tabindex="-1" aria-disabled="true">Documentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">Github</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="input_keyword">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="submit">Search</button>
        </form>
      </div>
    </nav>
    <!--end of nav bar-->

    <div class="row">
      <div class="col-md-7">
        <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card h-100 text-bg-secondary mb-3">
              <div class="card-body">
                <h5 class="card-title">Stream Static</h5>
                <p class="card-text" id="twitter_count">Total: 0</p>
                <p class="card-text" id="rate">Rate : 0/min</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 text-bg-light mb-3">
              <div class="card-body overflow-auto" style="height:20vh">
                <h5 class="card-title">Selected Language</h5>
                <p>
                  <button type="button" class="btn btn-info btn-sm">English</button>
                  <button type="button" class="btn btn-info btn-sm">Chinese</button>
                </p>

              </div>

            </div>
          </div>
          <div class="col">
            <div class="card h-100 text-bg-light mb-3">
              <div class="card-body overflow-auto" style="height:20vh">
                <h5 class="card-title">Selected Keywords</h5>
                <p id="keywords">
                  <!-- keyword here-->
                </p>

              </div>

            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-12 bg-light>
            <h3 class="text-center"> Twitter Stream </h3>
            <button id = "clear-tweets">Clear</button>
            <ul class="list-group overflow-auto p-2" id="tweet_stream" style="height:80vh">
              <!-- stream here-->
            </ul>

          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row" style="height:30vh">
          <div class='col-12 text-center'>
            <h3 class="text-center"> Summary of Result </h3>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check summary" name="btnradio" value = "sentiment" id="btnradio1" autocomplete="off" checked>
              <label class="btn btn-outline-primary" for="btnradio1">Sentiment</label>

              <input type="radio" class="btn-check summary" name="btnradio" value = "language" id="btnradio2" autocomplete="off">
              <label class="btn btn-outline-primary" for="btnradio2" value="language">Language</label>


            </div>

          </div>
          <div class="col-12" id="insert_chart">
            <!-- overall result here-->
          </div>
        </div>
        <div class="row overflow_auto p-2" style="height:70vh">
          <div class='col-12 bg-light' style="z-index:-1">
          <h3 class="text-center"> Filtered Stream </h3>
          <button id = "clear-filtered">Clear</button>
            <ul class="list-group overflow-auto p-2" id="tweet_filtered" style="height:69vh">
              <!-- filtered tweet here-->
            </ul>
          </div>
        </div>

      </div>

    </div>
  </div>


  <div class="row d-flex justify-content-center">
    <ul class="list-group overflow-auto p-2" id="tweets">
    </ul>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
  </script>
  {% load static%}
  <script src="{% static 'twitter_analyzer/main.js' %}"> </script>
</body>

</html>